:root {
  --cover-heading-color: ;
  --theme-hue: 190;
  --link-color: var(--theme-color);
  --copycode-background: var(--theme-color);
}
a {
  font-weight: 600;
}

.dot text[font-size="10.00"] {
  font-size: 10px;
}
.dot text[font-size="14.00"] {
  font-size: 14px;
}
